<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <h3>Post</h3>
        {{ posts }}


        <h3>Post con bucle</h3>
        {% for post in posts %} {{ post }}{% endfor %}

        <h3>Segunda parte ya arregladita</h3>


        <!-- ¿Has notado que utilizamos una notación diferente esta vez ({{ post.title }} o {{ post.text }})? Estamos accediendo a los datos en cada uno de los campos definidos en nuestro modelo Post. También el |linebreaksbr está pasando el texto de los post a través de un filtro para convertir saltos de línea en párrafos. -->
        
        {% for post in posts %} <div>
        	<p> publicado: {{ post.published_date }} </p><h1>
        		<a href = "" >{{ post.title }} </a ></h1>
        		<p>{{ post.text|linebreaksbr }} </p>
        </div>{% endfor %}
    </body>
</html>